<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A modern, easy-to-use, student portal for Thames Valley District Schoolboard." />
    <title>@ViewData["Title"] - Thames Valley Web Portal</title>
    <environment include="Development">
        <link rel="stylesheet" href='@Url.Content("~/lib/bootstrap/dist/css/bootstrap.css")' />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdn.dombi.ca/files/bootstrap.css"
              asp-fallback-href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous" />
    </environment>
    <link rel="stylesheet" href="https://cdn.dombi.ca/files/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Thames Valley Web Portal</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Timetable" asp-action="Index">Timetable</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Attendance" asp-action="Index">Attendance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Marks" asp-action="Index">Marks</a>
                        </li>
                        @if (string.IsNullOrEmpty(Context.Request.Cookies["Username"]))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a style="width:200px" class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="Logout">Logout (@Context.Request.Cookies["Username"])</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div style="max-width:90%" class="container">
            &copy; 2019 - Thames Valley Web Portal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a><br/>
            Thames Valley Web Portal is not associated with the Thames Valley District School board, nor any of it's Schools.<br/>
            Created by Erik Dombi.
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
